@import "tailwindcss";

@theme {
  --color-primary: #0058be;
  --color-on-primary: #ffffff;
  --color-primary-container: #2170e4;
  --color-on-primary-container: #fefcff;
  
  --color-secondary: #565e74;
  --color-secondary-container: #dae2fd;
  --color-on-secondary-container: #5c647a;
  
  --color-tertiary: #924700;
  --color-on-tertiary: #ffffff;
  
  --color-background: #f8f9ff;
  --color-on-background: #0b1c30;
  
  --color-surface: #f8f9ff;
  --color-on-surface: #0b1c30;
  --color-surface-container: #e5eeff;
  --color-surface-container-low: #eff4ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-bright: #f8f9ff;
  
  --color-outline: #727785;
  --color-outline-variant: #c2c6d6;
  
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans;
  }
}
